{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_helixmedia/modallib

    Library launch

    Example context (json):
    {"preid": "100", "extraid": "", "launchurl": "https://mymoodle.org", "library": "https://mymoodle.org", "text": "Some text"}
}}
<div class='container pt-0 pb-0'><div class='row'>
    <div class='col-2 p-0'>
        <a id="helixmedia_ltimodalimg_{{preid}}{{extraid}}" href="{{{launchurl}}}" data-{{#bs5}}bs-{{/bs5}}toggle='modal' data-{{#bs5}}bs-{{/bs5}}target='#mod_helixmedia_modal_{{preid}}{{extraid}}'>
            <img src='{{library}}' alt='' title='{{#str}}openlib, helixmedia{{/str}}' class="img-fluid pb-1" style='max-width:40px'>
        </a>
    </div><div class='col-10 pr-0 pt-1'><span class='align-middle'>
        <a id="helixmedia_ltimodal_{{preid}}{{extraid}}" href="{{{launchurl}}}" data-toggle='modal' data-target='#mod_helixmedia_modal_{{preid}}{{extraid}}'><strong>{{text}}</strong></a>
    </span></div>
</div></div>
